main{
    display: flex;
  justify-content: center; /* Horizontal centering */
  align-items: center; 
}
#Image{
height: 800px;
width: 400px;
background-color: #fafbfa;
border: 2px solid #61B846;
box-shadow: 5px 5px 10px rgba(122, 123, 122, 0.5);
padding-top: 100px;
padding-left: 40px;
border-radius: 40px;
}
.main_heading{
    padding-left: 20px;
    color: #61B846; 
}
.main_heading1{
    color:  #024F9D;
    padding-left: 70px;
    padding-right: 40px;
}
#GetStrated{
    border: 2px solid #61B846;
    background-color:  #61B846;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); 
   height: 50px;
   width: 150px;
   border-radius: 10px;
   margin-top: 150px;
   margin-left: 95px;
   color: aliceblue;
   font-weight: bold;
   font-size: 15px;
   cursor: pointer;
}