#Main {
    display: flex;
    justify-content: center;
    /* Horizontal centering */
    align-items: center;

}

#headings {
    height: 800px;
    width: 400px;
    background-color: #fafbfa;
    border: 2px solid #61B846;
    box-shadow: 5px 5px 10px rgba(122, 123, 122, 0.5);
    padding-top: 100px;
    padding-left: 40px;
    border-radius: 40px;
    margin-left: 30px;
}

.main_heading {
    padding-left: 20px;
    color: #61B846;
}

.main_heading1 {
    color: #024F9D;
    padding-left: 70px;
    padding-right: 40px;
}

#username {
    border: none;
    background: none;
    border-bottom: 1px solid #ccc;
    font-family: Arial, sans-serif;
    /* Adjust font styles as needed */
    font-size: 16px;
    width: 250px;
}

.inputfeilds {
    padding-top: 50px;
    padding-left: 40px;
    position: relative;
    padding-bottom: 100px;
}

.userimage {
    position: absolute;
    /* Set the image as an absolute position within the container */
    top: 40px;
    /* Adjust the vertical position of the image */
    left: 270px;
    /* Adjust the horizontal position of the image */
    height: 24PX;
    width: 24PX;
}

#Contant {
    padding-top: 30px;
    border: none;
    background: none;
    border-bottom: 1px solid #ccc;
    /* Add a bottom border to show the line */
    font-family: Arial, sans-serif;
    font-size: 16px;
    width: 250px;

}

#Email {
    padding-top: 30px;
    border: none;
    background: none;
    border-bottom: 1px solid #ccc;
    /* Add a bottom border to show the line */
    font-family: Arial, sans-serif;
    font-size: 16px;
    width: 250px;

}

#Password {
    padding-top: 30px;
    border: none;
    background: none;
    border-bottom: 1px solid #ccc;
    /* Add a bottom border to show the line */
    font-family: Arial, sans-serif;
    font-size: 16px;
    width: 250px;

}

#Passwordimage {
    position: absolute;
    /* Set the image as an absolute position within the container */
    top: 190px;
    /* Adjust the vertical position of the image */
    left: 270px;
    /* Adjust the horizontal position of the image */
    height: 24PX;
    width: 24PX;
}

#contantimg {
    position: absolute;
    /* Set the image as an absolute position within the container */
    top: 90px;
    /* Adjust the vertical position of the image */
    left: 270px;
    /* Adjust the horizontal position of the image */
    height: 24PX;
    width: 24PX;

}

#Emailimg {
    position: absolute;
    /* Set the image as an absolute position within the container */
    top: 140px;
    /* Adjust the vertical position of the image */
    left: 270px;
    /* Adjust the horizontal position of the image */
    height: 24PX;
    width: 24PX;
}

#GetStrated {
    border: 2px solid #61B846;
    background-color: #61B846;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    height: 50px;
    width: 260px;
    border-radius: 10px;
    margin-left: 45px;
    color: aliceblue;
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 20px;
    cursor: pointer;
}
#sigin{
    color:#024F9D;
    font-weight: bold;
    font-family: Arial, sans-serif;
    text-decoration-line: none;
    padding-left: 53px;
}
#forgot{
    color:#024F9D;
    font-weight: bold;
    font-family: Arial, sans-serif;
    text-decoration-line: none;
    padding-left: 6px; 
}